@media screen and (max-width: 561px) { 

    .Competence {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 800px;
        transition: all 0.5s;
        /* overflow-x: hidden; */
        /* background: #000; */
    }
    
    .Competence h2 { 
        margin: 1rem 0 0 0.5rem;
        font-size: 32px;
    }
    
    
    .mesCompetence {
        display: flex;
      justify-content: center;
      width: 100%;
    }
    
    .competence {
      background: linear-gradient(to bottom, transparent 55%, 
      #6C61C4 50%);
    
    }
    
    
    .competenceContent {
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
      top: 2rem;
      max-width: 56.25rem; 
      width: 100%;
      height: 500px;
      margin: 0 1rem ;
      padding: 0 0.5rem;
      background-color: #1B1B27;
    }
    
    .competenceContent img {
        width: 65%;
    }
    
    .competenceContent h4 {
      /* width: 6rem; */
      font-size: 20px;
      /* background-color: aqua; */
    }
    
    .competenceContentTitre{ 
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 28px;
      /* background-color: pink; */
    }
    
    .html {
      display: flex;
      width: 100%;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    
    .css {
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: 50px;
      align-items: center;
    }
    
    .js { 
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: 50px;
      align-items: center;
      
    }
    
    .react { 
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: 50px;
      align-items: center;
    }
    
    .git { 
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: 50px;
      align-items: center;
    }
    
    .competenceSoft { 
      display: flex;
      justify-content: center ;
      align-items: center;
      margin: 0 1rem;
      padding: 0 2rem 0 0.5rem;
      position: relative;
      top: 4rem;
      max-width: 56.25rem;
      width: 100%; 
      height: 10rem;
      background-color: #1B1B27;
      font-size: 23px;
    }
}