.TopPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #1B1B27;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.TopPageMainContainer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 630px;
}

.topPageLeftSide {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  flex-wrap: wrap;
}

.topPageFirstText {
  /* width: 100%; */
  position: relative;
  top: 8rem;
  padding-left: 6rem;
}

.firsH1 {
  font-size: 36px;
}

.secondH2 {
  position: relative;
  bottom: 2.5rem;
  font-size: 44px;
}

.spanDev {
  color: #957fef;
}

.spanReact {
  background: linear-gradient(to bottom, transparent 50%, #45449a 50%);
}

.topPageSecondText {
  position: relative;
  bottom: 6rem;
  padding-left: 6rem;
  font-size: 19px;
}

.topPagerightside {
  display: flex;
  align-items: center;
  width: 50%;
}

.topPagerightside img {
  position: relative;
  top: 1.5rem;
  width: 34rem;
}

.divSvg {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  bottom: 7rem;
  height: 10rem;
}

.divSvg svg {
  height: 400px;
  width: 100%;
}

.mouseSvgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 12rem;
  width: 100%;
  height: 4rem;
  /* background-color: #45449A; */
}

.schrollSvg {
  position: relative;
  bottom: 0rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 2rem;
  height: 4rem;
  cursor: pointer;
  /* background-color: black; */
}

.mouseSvg {
  height: 2rem;
}

.ArrowSvg {
  height: 1rem;
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}


/* animation */

.w1 {
  animation: anim1 15s infinite forwards;
}

@keyframes anim1 {
  0%{d:path("M-32 184L-12 188.2C8 192.3 48 200.7 88 202C128 203.3 168 197.7 208 183.3C248 169 288 146 328 144C368 142 408 161 448 155.2C488 149.3 528 118.7 568 111C608 103.3 648 118.7 688 126.7C728 134.7 768 135.3 808 129.7C848 124 888 112 908 106L928 100V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V184Z")}
  50%{d:path("M-32 151L-12 161.7C8 172.3 48 193.7 88 201.7C128 209.7 168 204.3 208 197.7C248 191 288 183 328 181.2C368 179.3 408 183.7 448 182.7C488 181.7 528 175.3 568 186.5C608 197.7 648 226.3 688 227C728 227.7 768 200.3 808 193.7C848 187 888 201 908 208L928 215V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V151Z")}
  100%{d:path("M-32 184L-12 188.2C8 192.3 48 200.7 88 202C128 203.3 168 197.7 208 183.3C248 169 288 146 328 144C368 142 408 161 448 155.2C488 149.3 528 118.7 568 111C608 103.3 648 118.7 688 126.7C728 134.7 768 135.3 808 129.7C848 124 888 112 908 106L928 100V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V184Z")}
}

.w2 {
  animation: anim2 15s infinite forwards;
}
@keyframes anim2 {
  0%{d:path("M-32 151L-12 161.7C8 172.3 48 193.7 88 201.7C128 209.7 168 204.3 208 197.7C248 191 288 183 328 181.2C368 179.3 408 183.7 448 182.7C488 181.7 528 175.3 568 186.5C608 197.7 648 226.3 688 227C728 227.7 768 200.3 808 193.7C848 187 888 201 908 208L928 215V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V151Z")}
  50%{d:path("M-32 200L-12 213C8 226 48 252 88 266.8C128 281.7 168 285.3 208 270.8C248 256.3 288 223.7 328 220.7C368 217.7 408 244.3 448 256.8C488 269.3 528 267.7 568 266C608 264.3 648 262.7 688 252.7C728 242.7 768 224.3 808 227.5C848 230.7 888 255.3 908 267.7L928 280V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V200Z")}
  100%{d:path("M-32 151L-12 161.7C8 172.3 48 193.7 88 201.7C128 209.7 168 204.3 208 197.7C248 191 288 183 328 181.2C368 179.3 408 183.7 448 182.7C488 181.7 528 175.3 568 186.5C608 197.7 648 226.3 688 227C728 227.7 768 200.3 808 193.7C848 187 888 201 908 208L928 215V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V151Z")}
}

.w3 {
  animation: anim3 15s infinite forwards;
}

@keyframes anim3 {
  0%{d:path("M-32 200L-12 213C8 226 48 252 88 266.8C128 281.7 168 285.3 208 270.8C248 256.3 288 223.7 328 220.7C368 217.7 408 244.3 448 256.8C488 269.3 528 267.7 568 266C608 264.3 648 262.7 688 252.7C728 242.7 768 224.3 808 227.5C848 230.7 888 255.3 908 267.7L928 280V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V200Z")}
  50%{d:path("M-32 292L-12 291.5C8 291 48 290 88 280.3C128 270.7 168 252.3 208 257.7C248 263 288 292 328 295.8C368 299.7 408 278.3 448 270.5C488 262.7 528 268.3 568 277C608 285.7 648 297.3 688 292.2C728 287 768 265 808 263.3C848 261.7 888 280.3 908 289.7L928 299V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V292Z")}
  100%{d:path("M-32 200L-12 213C8 226 48 252 88 266.8C128 281.7 168 285.3 208 270.8C248 256.3 288 223.7 328 220.7C368 217.7 408 244.3 448 256.8C488 269.3 528 267.7 568 266C608 264.3 648 262.7 688 252.7C728 242.7 768 224.3 808 227.5C848 230.7 888 255.3 908 267.7L928 280V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V200Z")}
}

.w4 {
  animation: anim4 15s infinite forwards;
}

@keyframes anim4 {
  0%{d:path("M-32 292L-12 291.5C8 291 48 290 88 280.3C128 270.7 168 252.3 208 257.7C248 263 288 292 328 295.8C368 299.7 408 278.3 448 270.5C488 262.7 528 268.3 568 277C608 285.7 648 297.3 688 292.2C728 287 768 265 808 263.3C848 261.7 888 280.3 908 289.7L928 299V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V292Z")}
  50%{d:path("M-32 292L-12 301.2C8 310.3 48 328.7 88 333.7C128 338.7 168 330.3 208 325.3C248 320.3 288 318.7 328 319.7C368 320.7 408 324.3 448 326C488 327.7 528 327.3 568 326.2C608 325 648 323 688 316.7C728 310.3 768 299.7 808 296.5C848 293.3 888 297.7 908 299.8L928 302V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V292Z")}
  100%{d:path("M-32 292L-12 291.5C8 291 48 290 88 280.3C128 270.7 168 252.3 208 257.7C248 263 288 292 328 295.8C368 299.7 408 278.3 448 270.5C488 262.7 528 268.3 568 277C608 285.7 648 297.3 688 292.2C728 287 768 265 808 263.3C848 261.7 888 280.3 908 289.7L928 299V389H908C888 389 848 389 808 389C768 389 728 389 688 389C648 389 608 389 568 389C528 389 488 389 448 389C408 389 368 389 328 389C288 389 248 389 208 389C168 389 128 389 88 389C48 389 8 389 -12 389H-32V292Z")}
}