@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  /* overflow-y: unset; */
}

/* * { 
  background-color: rgba(0, 128, 0, 0.306);
} */
 


::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e33;
  color: #fff;
  overflow-x: hidden;
}

::selection {
  background: #8874d6;
  color: #fff;
}

.App {
  /* width: 100%; */
  /* overflow-x: hidden; */
}

@media screen and (max-width: 910px) {
  /* body {
    max-width: 900px;
  } */
}
